
h1 {
  margin: auto 30px; 
  padding: 10px;
  color: var(--onyx);
  font-weight: bold;
}

#hero {
  background-image:url("../src/assets/images/hero-bg.jpg");
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}


.card {
  background-color: var(--platinum);
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--onyx), 0 6px 12px var(--onyx);
}

#cards-data {
  display: grid;
 
  grid-template-columns: repeat(3, 1fr);
 
  grid-auto-rows: auto;
 
  grid-gap: 1rem;
}

#cardContainer:hover {
  opacity: 70%;
}

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: large;
  align-content: center;
  margin: 7px 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 15px;
  font-weight: Medium;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgb(3, 3, 3);

}

#nav a.active{
  color:rgb(66, 180, 21);
  background: rgb(255, 255, 255);
}

#nav .NavLink {
  padding: 100px;
}